
body {
	background-image: url("alice-backround.gif");
	background-repeat: no-repeat; 
	background-size: 100%;
}

h1 {
	color: white;
	
	 font-family: Georgia;
	 font-size: 30px; 
	 position: absolute;
	 top: 35%;
	 left: 27%;
	 border:3px solid white;
	 padding: 10px;

}	
.things{
	color: white;
	font-style: italic;
	font-size: 20px;
	

}

.mybox{
	position: absolute;
	top: 50%;
}
#special{
	color: white;
	font-size: 30px;

	margin: 10px;
}