
body {
	background-image: url("alice-backround.gif");
	background-repeat: no-repeat; 
	background-size: 100%;
}

h1 {
	color: white;
	
	 font-family: Amatic SC ;
	 font-size: 30px; 
	 position: absolute;
	 top: 35%;
	 left: 27%;
	 border:3px solid white;
	 padding: 10px;

}	
.things{
	font-family: Permanent Marker ;
	color: white;
	font-style: italic;
	font-size: 20px;
	

}

.mybox{
	position: absolute;
	top: 50%;
}
#special{
	font-family: Pinyon Script ;
	color: white;
	font-size: 30px;

	margin: 10px;
}
 .sidebar{
 	color:#ccffcc ;
 	font-size: 30px;
 	position: absolute;
 	top: 50%;
 	left:80%;
 }