
body {
	background-image: url("wonderland2.jpg");
	background-repeat: no-repeat; 
	background-size: cover;

}

h1 {
	
	 font-family: Karumbi ;
	 font-size: 100px; 
	 color:#ffd699;
	 position: absolute;
	 left: 35%;
	 
}
	

h2 {
	font-family: Karumbi ;
	 font-size: 100px; 
	 color:#ffd699;
	 position: absolute;
	 left: 30%;
	 top: 10%;
}

.things{
	font-family: Karumbi ;
	font-weight: bold;
	color: #e6ac00;
	font-style: italic;
	font-size: 55px;
	

}

.mybox{
	position: absolute;
	top: 50%;
}
#special{
	font-family: Karumbi ;
	color: #e6ac00;
	font-size: 55px;
	font-weight: bold;
	
}
 .sidebar{
 	font-family: Karumbi ;
 	color:#e6ac00 ;
 	font-size: 70px;
 	position: absolute;
 	top: 55%;
 	left:60%;
 	font-style: italic;
 	font-weight: bold;
 }

#inside{
	position: absolute;
	left: 50%
}

.banner{
	height: 80px; 
	width:400px;
	background-color:#e6ac00;
	position: absolute;
	top: 75%;
	left: 65%;
}
#bannertext{
	font-family: Karumbi ;
	color: white;
	font-weight: bold;
	font-size: 30px;
	top: 72%;
	
}